body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container-fluid {
    padding: 0 150px;
}

.topbar {
    background-color: #0077c2;
    color: white;
    padding: 5px 150px;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-social a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.navbar {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1030;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: border-radius 0.5s ease;
}

.navbar-bg {
    background-color: #0077c2;
}

.navbar.scrolled {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #5a5a5a;
    font-weight: 500;
    margin-right: 15px;
    font-size: 15px;
}

.nav-link:hover {
    color: #0077c2;
}

.navbar-nav .nav-link.active,
.nav-item.dropdown .dropdown-toggle.show {
    color: #0077c2 !important;
}

.nav-item.dropdown .nav-link.active,
.dropdown-item.active {
    color: #0077c2;
}

.navbar-collapse button {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 15px;
}

.navbar-collapse button:hover {
    background-color: rgba(81, 86, 190, 0.2);
    color: #0077c2;
}

.carousel-inner img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.section-title {
    font-weight: bold;
    margin-bottom: 25px;
}

.news-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.news-item .news-image {
    flex: 1 1 100px;
    margin-left: 75px;
    order: 2;
}

.news-item .news-content {
    flex: 2 1 300px;
    order: 1;
}

.news-content a {
    color: #0077c2;
}

.news-content a:hover {
    color: #0067a6;
}

.news-image img {
    width: 400px;
    height: 230px;
    border-radius: 15px;
    object-fit: cover;
}

.news-meta {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 10px;
}

.news-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
}

.news-title:hover {
    color: #0077c2;
}

.news-description {
    font-size: 0.9rem;
    color: #555;
}

/* foto css */
.weekly-news-area .weekly-wrapper {
    border-bottom: 1px;
    padding-bottom: 60px;
}

.showall-btn button {
    color: #0077c2;
    border-color: #0077c2;
    white-space: nowrap;
}

.showall-btn button:hover {
    background-color: #0077c2;
    color: white;
}

.weekly-news-area .weekly-wrapper .weekly-single {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.weekly-news-area .weekly-wrapper .weekly-single .weekly-img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 4 / 5;
}

.weekly-news-area .weekly-wrapper .weekly-single .weekly-caption {
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #fff;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 28px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    opacity: 0;
    visibility: hidden;
}

.weekly-news-area .weekly-wrapper .weekly-single .weekly-caption h4 a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
}

.weekly-news-area .weekly-wrapper .weekly-single .weekly-caption h4 a:hover {
    color: #0077c2;
    cursor: pointer;
}

.weekly-news-area .weekly-wrapper .weekly-single:hover .weekly-caption {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}

.weekly-news-area .weekly-wrapper .weekly-single.active .weekly-caption {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}

.dot-style .slick-dots {
    text-align: center;
    position: absolute;
    bottom: -60px;
    right: 50%;
    transform: translateX(50%);
}

.dot-style .slick-dots li {
    display: inline-block;
}

.dot-style .slick-dots button {
    text-indent: -100000px;
    height: 8px;
    width: 8px;
    border: 0;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    background: #d6d6d6;
}

.dot-style .slider-active.dot-style .slick-dots button {
    text-indent: -100000px;
    height: 10px;
    width: 10px;
    border: 0;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 84px;
}

.dot-style .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

.dot-style .slick-active button {
    background: #0077c2;
    height: 9px;
    width: 38px;
    border-radius: 10px;
}

.modal-foto {
    display: none;
    position: fixed;
    z-index: 1040;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-foto-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 0;
    border: none;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-foto-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.videos-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.video-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.video-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.video-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.video-info .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font-size: 48px;
    opacity: 0.9;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner .carousel-item {
    height: 100%;
}

.modal-detail-row {
    width: 230px;
}

.ratio {
    width: 100%;
}

/* footer */
.footer {
    color: #333;
    padding: 65px 150px 10px 150px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1);
}

.footer .row {
    margin-bottom: 35px;
}

.footer .footer-logo {
    width: 170px;
}

.footer address,
.footer p {
    font-size: 0.9rem;
    color: #666;
}

.social-links a {
    color: #333;
    margin-right: 30px;
    font-size: 1.3rem;
}

.social-links a:hover {
    color: #0077c2;
}

.footer-bottom {
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #666;
}

.footer-bottom a {
    color: #0077c2;
    font-weight: bold;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Tentang page */
.tentang-content {
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    padding-right: 30px;
    text-align: justify;
}

.tentang-title {
    border-right: 2px solid #ddd;
    margin-bottom: 0;
}

.content-row {
    margin-top: 48px;
}

.page-title-left {
    padding: 2px 135px;
    margin-top: 15px;
    position: relative;
    font-size: 15px;
}

.page-title-left::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.breadcrumb .active {
    color: #0077c2;
}

.headline-content {
    padding-left: 50px;
}

.scrollable-headline {
    max-height: 400px;
    overflow-y: hidden;
    transition: overflow 0.3s ease;
}

.scrollable-headline:hover {
    overflow-y: auto;
}

.headline-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.headline-item:hover {
    color: #0077c2;
}

.headline-item span {
    margin-right: 10px;
}

.headline-item i {
    font-size: 20px;
}

.scrollable-headline::-webkit-scrollbar {
    width: 5px;
}

.scrollable-headline::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Warna latar scrollbar */
}

.scrollable-headline::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Warna thumb scrollbar */
    border-radius: 10px;
}

.scrollable-headline::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Warna thumb saat di-hover */
}

/* visi misi */
.visi-content {
    font-size: 17px;
    border-left: 5px solid #0077c2;
    padding: 30px 30px;
}

.misi-content {
    font-size: 17px;
    border-left: 5px solid #0077c2;
    padding: 10px 30px;
}

.misi-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.visimisi-image {
    margin: 130px 0;
}

.visimisi-image img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    margin-top: 10px;
}

/* regulasi */
.isi-regulasi p {
    text-align: justify;
    padding: 0 100px;
    font-size: 15px;
}

/* berita */
.row-1 {
    border-bottom: 2px solid #ddd;
}

.row-1 .col-sm-4 {
    padding-left: 25px;
}

.head-news {
    border-right: 2px solid #ddd;
    padding-right: 30px;
    margin-bottom: 40px;
}

.head-news h2 {
    padding-top: 45px;
}

.head-news img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    margin-bottom: 20px;
}

.news-all {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.news-date {
    color: #0077c2;
    margin-bottom: 15px;
}

.news-all h4 {
    margin-bottom: 10px;
    cursor: pointer;
}

.news-all h4:hover {
    color: #0077c2;
}

.news-all p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
    text-align: justify;
}

.row-2 .col-8 {
    border-left: 2px solid #ddd;
    padding-right: 20px;
}

.news-other {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-left: 15px;
}

.news-other img {
    margin-left: 35px;
    order: 2;
    width: 336px;
    border-radius: 15px;
    object-fit: cover;
    height: 189px;
}

.news-other .other-div {
    flex: 2 1 300px;
    order: 1;
    text-align: justify;
}

.other-div h4:hover {
    color: #0077c2;
}

.other-div p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.berita-lainnya {
    padding-left: 25px;
}

.berita-lainnya h3 {
    padding-top: 45px;
}

/* galeri-all */
.galeri-content {
    border-radius: 30px;
    padding: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.galeri-content img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    margin-bottom: 15px;
}

.galeri-content h4 {
    text-align: center;
}

/* Tablet View */
@media only screen and (max-width: 900px) {
    .container-fluid {
        padding: 0 15px;
    }

    .topbar {
        display: none;
    }

    .navbar {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .navbar-collapse {
        text-align: center;
        justify-content: center;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav .dropdown-toggle i {
        display: inline-block;
    }

    .navbar-collapse button {
        background: none;
        border: none;
        color: #5a5a5a;
        font-weight: 500;
        font-size: 15px;
        padding: 0;
        width: auto;
        margin-top: 0;
    }

    .navbar-collapse i {
        display: none;
    }

    .navbar-collapse button:hover {
        color: #0077c2;
        background: none;
    }

    .dropdown-item {
        text-align: center;
    }

    .carousel-inner img {
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .section-title,
    .showall-btn h1 {
        font-size: 1.3rem;
    }

    .showall-btn button {
        font-size: 0.7rem;
    }

    .news-title {
        font-size: 1.2rem;
    }

    .news-item {
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .news-item .news-image {
        margin-left: 0;
        margin-bottom: 15px;
        order: 1;
        width: 100%;
    }

    .news-item .news-content {
        order: 2;
    }

    .news-image img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .weekly-news-area .weekly-wrapper .weekly-single .weekly-caption h4 a {
        font-size: 15px;
        line-height: 1;
    }

    .modal-foto-content {
        width: 100%;
    }

    .videos-section {
        grid-template-columns: repeat(2, 1fr);
        /* Set 2 video-cards per row */
        gap: 10px;
        /* Optional: Reduce gap for smaller screens */
    }

    .video-info .title {
        font-size: 10px;
        /* Optional: Smaller font size on mobile */
    }

    .play-icon {
        font-size: 36px;
        /* Optional: Adjust icon size on mobile */
    }

    .footer {
        padding: 40px 20px 10px 20px;
        text-align: center;
    }

    .footer .row {
        margin-bottom: 15px;
    }

    .footer-bottom p {
        font-size: 0.2rem;
    }

    .footer .footer-logo {
        width: 70px;
        margin-bottom: 0;
    }

    .footer h3 {
        font-size: 1.5rem;
    }

    .footer p,
    .footer address {
        font-size: 0.75rem;
    }

    .social-links a {
        margin-right: 15px;
        font-size: 1.1rem;
    }

    .footer .col-md-3,
    .footer .col-md-5,
    .footer .col-md-4 {
        text-align: center;
        margin-bottom: 0;
    }

    .footer .col-md-5 {
        padding-left: 0;
    }

    .footer .col-md-4 iframe {
        width: 100%;
        height: 150px;
    }

    .tentang-content {
        border-right: none;
        padding-right: 0;
    }

    .tentang-title {
        border: none;
    }

    .content-row {
        margin-top: 20px;
    }

    .page-title-left {
        padding: 0.1px 5px;
        font-size: 13px;
        margin-top: 13px;
    }

    .headline-content {
        padding-left: 15px;
        margin-bottom: 50px;
    }

    .visimisi-image {
        display: none;
    }

    .content-row .col-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .visi-content,
    .misi-content {
        font-size: 14px;
        padding-left: 20px;
    }

    .isi-regulasi p {
        padding: 0;
        font-size: 15px;
    }

    .modal-detail-row {
        width: 50px;
    }

    .head-news {
        border-right: none;
        border-bottom: 2px solid #ddd;
        padding-right: 12px;
        margin-bottom: 0;
    }

    .row-1 {
        border-bottom: none;
    }

    .row-1 .col-sm-4 {
        padding-left: 12px;
    }

    .row-2 {
        display: none;
    }

    .berita-lainnya {
        padding-left: 10px;
    }

    .berita-lainnya h3 {
        padding-top: 30px;
    }

    .news-all h4 {
        font-size: 1.1rem;
    }

    .head-news h2 {
        padding-top: 25px;
    }
    .dot-style .slick-dots {
        bottom: -60px;
    }
    .dot-style .slick-dots button {
        height: 6px;
        width: 6px;
        margin-right: 8px;
    }
    .dot-style .slick-active button {
        width: 28px;
    }
}

/* Mobile View */
@media (max-width: 600px) {}